<% content_for :titlebar do %>
    <h2 style="color:white">Weight Goals</h2>
  <% end %>
  
  
  <% if flash[:success] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:success] %>
    </div>
  <% end %>
  
  <table class="table table-striped">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Value</th>
      <th scope="col">Date</th>
      <th scope="col"></th>
    </tr>
   
    <% @weights.each do |weight| %>
      <tr>
        <td><%= weight_goal.id %></td>
        <td><%= weight_goal.value %></td>
        <td><%= weight_goal.date %></td>
        <td>
          <%= link_to "Edit", edit_profile_weight_goal_path(profile_email: @profile.email, id: weight_goal.id), class: "btn btn-sm btn-primary" %> |  
          <%= link_to "Delete", profile_weight_goal_path(profile_email: @profile.email, id: weight_goal.id), 
              method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %> 
          </td>
      </tr>
    <% end %>
    
  </table>
  <%= link_to 'Add Weight Goal', new_profile_weight_goal_path(profile_email: @profile.email),  class: "btn btn-sm btn-success"  %>
  